:root {
  --dark-color: #172a3b;
  --point-color: #1f6c97;
  --light-color: #f7f9f7;
  --nav-color: #80656a;
  --main-background-color: #f2e2da;
  --text-color: #222726;
}

html {
  color: var(--main-color);
  background-color: var(--light-color);
}

body {
  margin: 0px 100px;
  padding: 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: var(--text-color);
}
header {
  margin-top: 30px;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--dark-color);
}
h1 {
  text-align: center;
  margin: 0px;
  height: 80px;
}

h2 {
  color: var(--point-color);
  text-align: center;
  margin: 0px;
  height: 80px;
}
.name {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 20px;
}
section {
  display: initial;
}

section .nav {
  display: flex;
  height: 40px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--main-background-color);
  border-top: 1px solid var(--main-background-color);
  border-width: 1px;
  background-color: var(--light-color);
  border-color: var(--main-color);
  font-size: 20px;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nav li:hover {
  transform: scale(1.2);
}
.nav a {
  color: var(--nav-color);
  text-decoration: none;
}

.nav a:hover {
  cursor: pointer;
  background-color: var(--point-color);
  color: var(--light-color);
}
.nav a:visited {
  color: var(--nav-color);
}

.body div {
  padding-top: 50px;
}

div {
  border-bottom-style: dotted;
  border-width: 1px;
  border-color: var(--point-color);
}

button {
  background-color: var(--main-background-color);
  color: var(--text-color);

  border: none;
  color: black;
  border-radius: 10px;
  text-align: center;
  padding: 10px, 10px;
  font-size: 15px;
  width: 300px;
  height: 45px;
  cursor: pointer;
}
button:focus {
  outline: 0;
}

button a {
  text-decoration: none;
}

button:hover {
  background-color: var(--point-color);
  color: var(--light-color);
}

button a:visited {
  color: var(--text-color);
}
li {
  list-style: none;
}

@media screen and (max-sidth: 825px) {
  .nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
}
